table {
  margin-top: 100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table, td, th {
  border: 1px solid black;
}

.theses_values:hover {
  background: #cccccc;
}
