<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<app-horizontal-menu></app-horizontal-menu>

<div class="livechat">
  <app-live-chat></app-live-chat>
</div>
<div class="container">
  <div class="row details-container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{ thesisDetails.title }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-thesis-details">
                <tbody>
                <tr>
                <tr>
                  <td>Authors</td>
                  <td>
                    <span *ngFor="let author of thesisDetails.authors">
                      {{ author }}<br>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Publication date</td>
                  <td *ngIf="thesisDetails.publicationDate; else emptyPublicationDate">
                    {{thesisDetails.publicationDate}}
                  </td>
                  <ng-template #emptyPublicationDate>
                    <td>Not found</td>
                  </ng-template>
                </tr>
                <tr>
                  <td>List of key words</td>
                  <td *ngIf="thesisDetails.keyWords; else emptyKeyWords">
                    <span *ngFor="let word of thesisDetails.keyWords">
                      {{ word }}<br>
                    </span>
                  </td>
                  <ng-template #emptyKeyWords>
                    <td>Not found</td>
                  </ng-template>
                </tr>
                <tr>
                  <td>List of releted papers</td>
                  <td *ngIf="thesisDetails.relatedTheses != undefined && thesisDetails.relatedTheses.length > 1; else emptyRelatedTheses">
                    <span *ngFor="let thesis of thesisDetails.relatedTheses">
                      {{ thesis }}<br>
                    </span>
                  </td>
                  <ng-template #emptyRelatedTheses>
                    <td>Not found</td>
                  </ng-template>
                </tr>
                <tr>
                  <td>Citation number</td>
                  <td *ngIf="thesisDetails.citationNo; else emptyCitationNo">
                    {{thesisDetails.citationNo}}
                  </td>
                  <ng-template #emptyCitationNo>
                    <td>Not found</td>
                  </ng-template>
                </tr>
                <tr>
                  <td>Link to PDF</td>
                  <td *ngIf="thesisDetails.linkToPDF; else emptyLinkToPdf">
                    <a href="{{ thesisDetails.linkToPDF }}" target="_blank">{{ thesisDetails.linkToPDF }}</a>
                  </td>
                  <ng-template #emptyLinkToPdf>
                    <td>Not found</td>
                  </ng-template>
                </tr>
                </tbody>
              </table>

              <button (click)="updateQuotations()">Update quotations</button>
            </div>
          </div>
        </div>
        <!--<div class="panel-footer">-->
        <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
        <!--<span class="pull-right">-->
        <!--<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
        <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
        <!--</span>-->
        <!--</div>-->
        <div class="loader" id="loadingCircle"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
