<!DOCTYPE html>
<html>
<body>
  <div>
    {{ thesisDetails.title }}
  </div>
  <div>
    <p>List of authors:</p>
    <li *ngFor="let author of thesisDetails.authors">
      {{ author.name }}
    </li>
    <p>Date: {{thesisDetails.date.toLocaleDateString()}}</p>
    <p>List of key words:</p>
    <li *ngFor="let word of thesisDetails.keyWords">
      {{ word }}
    </li>
    <p>List of releted theses:</p>
    <li *ngFor="let thesis of thesisDetails.relatedTheses">
      {{ thesis }}
    </li>
    <p>Link to PDF:</p>
    <a href="{{ thesisDetails.linkToPDF }}">{{ thesisDetails.linkToPDF }}</a>
  </div>
</body>
</html>
