<div class="filters">
  <input class="input label" type="text" id="authorSearch"  placeholder="Search for author..." title="Type in a name">
  <div>
    <input class="input half-label" type="number" id="positionFrom" placeholder="Position from..." title="Type a number">
    <input class="input half-label" type="number" id="positionTo" placeholder="Position to..." title="Type a number">
    <input class="input half-label" type="date" id="dateFrom" placeholder="From..." title="Type a date">
    <input class="input half-label" type="date" id="dateTo" placeholder="To..." title="Type a date">
  </div>
  <input class="input label" type="text" id="titleSearch" placeholder="Search for title..." title="Type in a name">
  <input class="input label" type="text" id="institution" placeholder="Search for institution..." title="Type in an institution name">
  <input class="input label" type="text" id="keyWords" placeholder="Search for key words..." title="Type in key words">
  <input class="input label" type="text" id="quotationNumber" placeholder="Search for quotation number..." title="Type in quotation number">
</div>
