<form class="login-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </td>
    </tr>
    <tr>
      <td>
        <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
      </td>
    </tr></table>
</form>
<!--<button mat-raised-button (click)="login()" color="primary">Login</button>-->
<button mat-raised-button routerLink="/home" color="primary">Login</button>
