<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="filters">
  <input class="input label" type="text" id="authorSearch" placeholder="Search for author..." title="Type in a name"
         [(ngModel)]="thesisFilters.author">
  <div>
    <input class="input half-label" type="number" id="positionFrom" placeholder="Position from..." title="Type a number"
           [(ngModel)]="thesisFilters.positionFrom">
    <input class="input half-label" type="number" id="positionTo" placeholder="Position to..." title="Type a number"
           [(ngModel)]="thesisFilters.positionTo">
    <select title="Date from..." class="input half-label" id="dateFrom"  [(ngModel)]="thesisFilters.dateFrom"></select>
    <select title="Date to..." class="input half-label" id="dateTo"  [(ngModel)]="thesisFilters.dateTo"></select>
  </div>
  <input class="input label" type="text" id="titleSearch" placeholder="Search for title..." title="Type in a name"
         [(ngModel)]="thesisFilters.title">
  <input class="input label" type="text" id="institution" placeholder="Search for institution..."
         title="Type in an institution name" [(ngModel)]="thesisFilters.institution">
  <input class="input label" type="text" id="keyWords" placeholder="Search for key words..." title="Type in key words"
         [(ngModel)]="thesisFilters.keyWords">
  <input class="input label" type="number" id="quotationNumber" placeholder="Search for quotation number..."
         title="Type in quotation number" [(ngModel)]="thesisFilters.quotationNumber">
</div>
<div class="buttons filterbtn">
  <button id="buttonSearch" (click)="filterTheses()">Filter theses</button>
</div>
<div class="buttons relatedtheses-btn">
  <button class="related-theses" (click)="relatedTheses()">Show related</button>
</div>
<table id="thesisTable">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th id="opencolumn">Open</th>
    <th id="relatedcolumn">Related</th>
  </tr>
  <tr class="theses_values" *ngFor="let thesis of theses">
    <td id="title" (click)="thesisDetails(thesis)">{{thesis.title}}</td>
    <td id="author">
      <div *ngFor="let author of thesis.authors">
        {{ author }}
      </div>
    </td>
    <td id="link"><a id="linktopdf" href="{{thesis.linkToPDF}}" target="_blank">Link</a></td>
    <td id="relatedTheses">
      <div class="material-switch pull-right">
        <input id="check{{thesis.id}}" name="checkbox-related-theses" type="checkbox" (change)="updateValue(thesis.id)"/>
        <label for="check{{thesis.id}}" class="label-primary"></label>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
