<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="livechat" id="livechat">
  <div class="panel panel-primary">
    <div class="panel-heading" id="accordion">
      <span class="glyphicon glyphicon-comment"></span> Send message to Admin
    </div>
    <div>
      <div class="panel-footer">
        <div class="input-group">
          <textarea id="btn-input"></textarea>
        </div>
        <input id="nickname" type="text" class="form-control input-sm tb-input-nickname" placeholder="Type your nickname..." />
        <span class="input-group-btn">
          <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="message-icon">
  <span (click)="toggleChat()" class="glyphicon glyphicon-comment icon"></span>
</div>
