<!DOCTYPE html>
<html>
<body>
  <div class="buttons">
    <button id="buttonSearch" (click)="getTheses()">Search</button>
  </div>
  <table id="thesisTable">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Open</th>
    </tr>
     <tr class="theses_values" *ngFor="let thesis of theses" (click)="thesisDetails(thesis.id)">
      <td id="title">{{thesis.title}}</td>
      <td id="author">{{thesis.author}}</td>
      <td id="link"><a href="{{thesis.link}}">{{thesis.link}}</a></td>
    </tr>
  </table>
</body>
</html>
