<!DOCTYPE html>

<app-horizontal-menu></app-horizontal-menu>

<div class="adminoptions">
  <div class="option">
    <p class="title">Download new theses</p>
    <div class="filters">
      <input class="tb-input tb-label" type="text" id="authorSearch" placeholder="Author..." title="Type in a name"
             [(ngModel)]="author">
      <input class="tb-input tb-label" type="text" id="titleSearch" placeholder="Title..." title="Type in a name"
             [(ngModel)]="title">
      <button (click)="runDownloader()">Run</button>
    </div>
  </div>
  <div class="option">
    <p class="title">Refresh topic list</p>
    <button (click)="refreshTopics()">Refresh</button>
  </div>
</div>
<div class="infowindow">
  <app-info-window></app-info-window>
</div>
