<!DOCTYPE html>

<app-sidebar></app-sidebar>

<div class="filters" style="margin-top: 100px;">
  <input class="input label" type="text" id="authorSearch"  placeholder="Author..." title="Type in a name">
  <input class="input label" type="text" id="titleSearch" placeholder="Title..." title="Type in a name">
  <input class="input label" type="text" id="institution" placeholder="Institution..." title="Type in an institution name">
  <input class="input label" type="text" id="keyWords" placeholder="Key words..." title="Type in key words">
  <input class="input label" type="text" id="quotationNumber" placeholder="Quotation number..." title="Type in quotation number">
</div>
<div>
  <button style="margin-left: 30px;">Run</button>
</div>

